<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
</head>
<body>
    <h1>Pokédex</h1>
    <ul>
        <% pokemons.forEach(function(pokemon) { %>
            <li>
                <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %></a> - <%= pokemon.tipo %> - <%= pokemon.altura %> - <%= pokemon.peso %> - <%= pokemon.nivelDePoder %>
            </li>
        <% }); %>
    </ul>
    <form action="/createPokemon" method="POST">
        <label for="nome"></label>
        <input type="text" name="nome" placeholder="Nome">
        <br>
        <label for="tipo"></label>
        <input type="text" name="tipo" placeholder="Tipo">
        <br>
        <label for="altura"></label>
        <input type="text" name="altura" placeholder="Altura">
        <br>
        <label for="peso"></label>
        <input type="text" name="peso" placeholder="Peso">
        <br>
        <label for="nivelDePoder"></label>
        <input type="number" name="nivelDePoder" placeholder="Nível de Poder">
        <br>
        <button type="submit">Enviar</button>
    </form>    

    <ul>
        <% treinadores.forEach(function(treinador) { %>
            <li>
                <a href="/treinador/<%= treinador.id %>"><%= treinador.nome %></a> - <%= treinador.idade %> - <%= treinador.altura %>
            </li>
        <% }); %>
    </ul>
    <form action="/createTreinador" method="POST">
        <label for="nome"></label>
        <input type="text" name="nome" placeholder="Nome">
        <br>
        <label for="idade"></label>
        <input type="number" name="idade" placeholder="Idade">
        <br>
        <label for="altura"></label>
        <input type="text" name="altura" placeholder="Altura">
        <br>
        <button type="submit">Enviar</button>
    </form>    
</body>
</html>
