<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
</head>
<body>
    <h1>Pokédex</h1>
    <ul>
        <% pokemons.forEach(function(pokemon) { %>
            <li>
                <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %></a> - <%= pokemon.tipo %> - <%= pokemon.altura %> - <%= pokemon.peso %> - <%= pokemon.nivelDePoder %>
            </li>
        <% }); %>
    </ul>
    <form action="/create" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" placeholder="Nome">
        <br>
        <label for="tipo">Tipo: </label>
        <input type="text" name="tipo" placeholder="Tipo">
        <br>
        <label for="altura">Altura: </label>
        <input type="text" name="altura" placeholder="Altura">
        <br>
        <label for="peso">Peso: </label>
        <input type="text" name="peso" placeholder="Peso">
        <br>
        <label for="nivelDePoder">Nível de Poder: </label>
        <input type="number" name="nivelDePoder" placeholder="Nível de Poder">
        <br>
        <button type="submit">Enviar</button>
    </form>    
</body>
</html>
